.list {
    display: flex;
}
.listItem {
    font-size: 16px;
    background-color: #f9f9f9;
    padding: 13px 30px;
    border-radius: 30px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    // @include normalize.noselect();

    &:hover {
        background-color: #f2f2f2;
    }

    &:active {
        background-color: #f2f2f2;
    }

    &.active {
        background-color: #000;
        color: #fff;
    }
}
@media only screen and (max-width: 767px) {
    .list {
        width: 100%;
        flex-direction: column;
        gap: 16px;
    }
}
